h1 {    
  font-family: verdana;
  font-size: 40px;
  font-style: bold;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th:nth-child(1) {
  width: 5%;
}
th:nth-child(2) {
  width: 2.5%;
}
th:nth-child(3) {
  width: 30%;
}
th:nth-child(4) {
  width: 13%;
}
th:nth-child(5) {
  width: 30%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: lightgray; 
}

select, input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
  font-size: 14px;
  border: 2px solid #ccc; 
  border-radius: 5px; 
  resize: vertical; 
}

textarea {
  width: calc(100% - 14px);
  min-height: 60px;
}

select:focus, input:focus, textarea:focus {
  border-color: #007bff; 
  outline: none; 
}

#downloadButton {
  display: block;
  margin: 0 auto; 
  background-color: #4CAF50;
  color: white; 
  font-size: 18px; 
  padding: 10px 20px; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#downloadButton:hover {
  background-color: #45a049; 
}
